body {
  background:#f4f4f7;
}

h1, .han {
  padding-left: 40px;
}

.han {
  padding-top: 20px;
}

/* Wide card with share menu button */

.demo-card-wide.mdl-card {
  width: 512px;
  margin: 20px auto;
  border-radius: 0px;
}

.demo-card-wide>.mdl-card__title {
  color: #fff;
  height: 288px;
  background: green;
}

/* .demo-card-wide>.mdl-card__title__unity {
  color: #fff;
  height: 176px;
  background: purple;
}

.demo-card-wide>.mdl-card__title__web {
  color: #fff;
  height: 176px;
  background: green;
}

.demo-card-wide>.mdl-card__title__music {
  color: #fff;
  height: 176px;
  background: rgb(0, 0, 206);
} */

.demo-card-wide>.mdl-card__menu {
  color: #fff;
}