body {
  background:#f4f4f7;
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  padding-left: 40px;
}

.han {
  padding-top: 20px;
  padding-left: 40px;
}

/* Wide card with share menu button */

.demo-card-wide.mdl-card {
  width: 512px;
  margin: 20px auto;
  border-radius: 0px;
}

.demo-card-wide>.mdl-card__title {
  color: #fff;
  height: 288px;
  background: green;
}

.demo-card-wide>.mdl-card__menu {
  color: #fff;
}