body {
  background: rgb(212, 212, 212);
}


/* Wide card with share menu button */

.demo-card-wide.mdl-card {
  width: 512px;
  margin: 20px;
}

.demo-card-wide>.mdl-card__title__unity {
  color: #fff;
  height: 176px;
  background: purple;
}

.demo-card-wide>.mdl-card__title__web {
  color: #fff;
  height: 176px;
  background: green;
}

.demo-card-wide>.mdl-card__title__music {
  color: #fff;
  height: 176px;
  background: blue;
}

.demo-card-wide>.mdl-card__menu {
  color: #fff;
}